SplashScreen {
    align: center middle;
    opacity: 1.0;
}

#splash {
    text-align: center;
    width: 100%;
    color: green;
    dock: top;
    padding: 1;
}

MatrixRain {
    color: rgba(255, 0, 0, 0.4);
    height: 1fr;
    width: 100%;
    content-align: center middle;
}

#loader {
    text-align: center;
    width: 100%;
    color: yellow;
    dock: bottom;
    padding: 1;
}
